USE [master]
GO
/****** Object:  Database [DistribuidoraOperativa]    Script Date: 12/11/2025 19:32:30 ******/
CREATE DATABASE [DistribuidoraOperativa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DistribuidoraOperativa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuidoraOperativa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DistribuidoraOperativa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuidoraOperativa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DistribuidoraOperativa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DistribuidoraOperativa]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 12/11/2025 19:32:30 ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Id_articulo] [int] IDENTITY(1,1) NOT NULL,
	[Id_producto] [int] NULL,
	[Id_tamaño] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasicoCategoria]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasicoCategoria](
	[IdCategoriaSalarial] [int] NOT NULL,
	[FechaInicioVigencia] [date] NOT NULL,
	[FechaFinVigencia] [date] NULL,
	[SalarioBasico] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaSalarial] ASC,
	[FechaInicioVigencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capacitacion]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacitacion](
	[Id_capacitacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Duracion_horas] [int] NULL,
	[Fecha_inicio] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapacitacionXEmpleado]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapacitacionXEmpleado](
	[Id_capacitacion] [int] NOT NULL,
	[Legajo] [int] NOT NULL,
	[Resultado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_capacitacion] ASC,
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoriaSalarial] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaSalarial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaXEmpleado]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaXEmpleado](
	[IdCategoriaSalarial] [int] NOT NULL,
	[Legajo] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaSalarial] ASC,
	[Legajo] ASC,
	[FechaInicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[Id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[Id_depto] [int] NULL,
	[Nom_ciudad] [varchar](100) NULL,
	[Poblacion] [int] NULL,
	[Clasificacion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](50) NULL,
	[Id_ciudad] [int] NULL,
	[Id_depto] [int] NULL,
	[Id_rubro] [int] NULL,
	[Categoria] [varchar](50) NULL,
	[Fecha_alta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Codigos]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Codigos](
	[Tipo] [varchar](50) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tipo] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id_depto] [int] IDENTITY(1,1) NOT NULL,
	[Nom_depto] [varchar](100) NULL,
	[Zona] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_depto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Legajo] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Sueldo] [decimal](10, 2) NULL,
	[Fecha_ingreso] [date] NULL,
	[Id_local] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_ausencia]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_ausencia](
	[Legajo] [int] NOT NULL,
	[Fecha_ausencia] [date] NOT NULL,
	[Cod_motivo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC,
	[Fecha_ausencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Nro_Factura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Id_cliente] [int] NULL,
	[Id_vendedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nro_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motivo_Ausencia]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motivo_Ausencia](
	[Cod_motivo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_motivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_producto] [int] IDENTITY(1,1) NOT NULL,
	[Id_familia] [int] NULL,
	[Id_duracion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion](
	[Id_promocion] [int] IDENTITY(1,1) NOT NULL,
	[Id_articulo] [int] NULL,
	[Fecha_inicio] [date] NULL,
	[Fecha_fin] [date] NULL,
	[Precio_promocion] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosFacturas]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosFacturas](
	[Nro_Factura] [int] NOT NULL,
	[Id_articulo] [int] NOT NULL,
	[Importe] [decimal](10, 2) NULL,
	[Unidades] [int] NULL,
	[Id_promocion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nro_Factura] ASC,
	[Id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubros](
	[Id_rubro] [int] IDENTITY(1,1) NOT NULL,
	[Nom_rubro] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_rubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono_empleado]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_empleado](
	[Legajo] [int] NOT NULL,
	[Telefono_empleado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC,
	[Telefono_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 12/11/2025 19:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedores](
	[Id_vendedor] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[Telefono] [varchar](50) NULL,
	[Especialidad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD FOREIGN KEY([Id_producto])
REFERENCES [dbo].[Productos] ([Id_producto])
GO
ALTER TABLE [dbo].[BasicoCategoria]  WITH CHECK ADD FOREIGN KEY([IdCategoriaSalarial])
REFERENCES [dbo].[Categoria] ([IdCategoriaSalarial])
GO
ALTER TABLE [dbo].[CapacitacionXEmpleado]  WITH CHECK ADD FOREIGN KEY([Id_capacitacion])
REFERENCES [dbo].[Capacitacion] ([Id_capacitacion])
GO
ALTER TABLE [dbo].[CapacitacionXEmpleado]  WITH CHECK ADD FOREIGN KEY([Legajo])
REFERENCES [dbo].[Empleado] ([Legajo])
GO
ALTER TABLE [dbo].[CategoriaXEmpleado]  WITH CHECK ADD FOREIGN KEY([IdCategoriaSalarial])
REFERENCES [dbo].[Categoria] ([IdCategoriaSalarial])
GO
ALTER TABLE [dbo].[CategoriaXEmpleado]  WITH CHECK ADD FOREIGN KEY([Legajo])
REFERENCES [dbo].[Empleado] ([Legajo])
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD FOREIGN KEY([Id_depto])
REFERENCES [dbo].[Departamentos] ([Id_depto])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([Id_ciudad])
REFERENCES [dbo].[Ciudades] ([Id_ciudad])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([Id_depto])
REFERENCES [dbo].[Departamentos] ([Id_depto])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([Id_rubro])
REFERENCES [dbo].[Rubros] ([Id_rubro])
GO
ALTER TABLE [dbo].[Empleado_ausencia]  WITH CHECK ADD FOREIGN KEY([Cod_motivo])
REFERENCES [dbo].[Motivo_Ausencia] ([Cod_motivo])
GO
ALTER TABLE [dbo].[Empleado_ausencia]  WITH CHECK ADD FOREIGN KEY([Legajo])
REFERENCES [dbo].[Empleado] ([Legajo])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([Id_cliente])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([Id_vendedor])
REFERENCES [dbo].[Vendedores] ([Id_vendedor])
GO
ALTER TABLE [dbo].[Promocion]  WITH CHECK ADD FOREIGN KEY([Id_articulo])
REFERENCES [dbo].[Articulos] ([Id_articulo])
GO
ALTER TABLE [dbo].[RegistrosFacturas]  WITH CHECK ADD FOREIGN KEY([Id_articulo])
REFERENCES [dbo].[Articulos] ([Id_articulo])
GO
ALTER TABLE [dbo].[RegistrosFacturas]  WITH CHECK ADD FOREIGN KEY([Id_promocion])
REFERENCES [dbo].[Promocion] ([Id_promocion])
GO
ALTER TABLE [dbo].[RegistrosFacturas]  WITH CHECK ADD FOREIGN KEY([Nro_Factura])
REFERENCES [dbo].[Facturas] ([Nro_Factura])
GO
ALTER TABLE [dbo].[Telefono_empleado]  WITH CHECK ADD FOREIGN KEY([Legajo])
REFERENCES [dbo].[Empleado] ([Legajo])
GO
USE [master]
GO
