USE [master]
GO
/****** Object:  Database [DistribuidoraDW]    Script Date: 12/11/2025 19:31:38 ******/
CREATE DATABASE [DistribuidoraDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DistribuidoraDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuidoraDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DistribuidoraDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DistribuidoraDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DistribuidoraDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DistribuidoraDW]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 12/11/2025 19:31:38 ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSSQLServerOLAPService]
GO
/****** Object:  Table [dbo].[Dim_Distr_Geografica]    Script Date: 12/11/2025 19:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Distr_Geografica](
	[id_distr_geografica] [int] IDENTITY(1,1) NOT NULL,
	[departamento] [varchar](100) NULL,
	[ciudad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_distr_geografica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Producto]    Script Date: 12/11/2025 19:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[familia_producto] [varchar](200) NULL,
	[nombre_producto] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Rubro]    Script Date: 12/11/2025 19:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Rubro](
	[id_rubro] [int] IDENTITY(1,1) NOT NULL,
	[nom_rubro] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Tiempo]    Script Date: 12/11/2025 19:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tiempo](
	[id_tiempo] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Vendedor]    Script Date: 12/11/2025 19:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Vendedor](
	[id_vendedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre_vendedor] [varchar](100) NULL,
	[hs_capacitacion] [int] NULL,
	[antiguedad] [int] NULL,
	[sueldo] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Ventas]    Script Date: 12/11/2025 19:31:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Ventas](
	[id_tiempo] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_distr_geografica] [int] NOT NULL,
	[id_vendedor] [int] NOT NULL,
	[id_rubro] [int] NOT NULL,
	[cant_ventas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC,
	[id_producto] ASC,
	[id_distr_geografica] ASC,
	[id_vendedor] ASC,
	[id_rubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD FOREIGN KEY([id_distr_geografica])
REFERENCES [dbo].[Dim_Distr_Geografica] ([id_distr_geografica])
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Dim_Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD FOREIGN KEY([id_rubro])
REFERENCES [dbo].[Dim_Rubro] ([id_rubro])
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[Dim_Tiempo] ([id_tiempo])
GO
ALTER TABLE [dbo].[Fact_Ventas]  WITH CHECK ADD FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[Dim_Vendedor] ([id_vendedor])
GO
USE [master]
GO
